.product_list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 16px;
  color: #007bff;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.1px;
}

.product_item {
  background-color: #f5f5f5;
  border-radius: 8px;
  padding: 16px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.product_image {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.product_title {
  color: black;
  font-size: 1.2em;
  margin: 8px 0;
}

.product_subtitle {
  font-size: 0.9em;
  color: #666;
}

.product_price {
  font-weight: bold;
  color: #333;
}

.gift_img {
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  background-color: #f5f5f5;
  border-radius: 8px;
  margin: 0 auto;
}

.modal_title {
  font-size: 24px;
  margin-bottom: -5px;
  max-width: 326px;
  text-align: center;
}

.gift_img_modal {
  font-size: 150px;
}

.modal_image {
  width: 300px;
  height: auto;
  margin-bottom: 10px;
}

.modal_description {
  font-size: 16px;
  margin-bottom: 30px;
  max-width: 326px;
  text-align: center;
  color: #707579;
}

.modal_price {
  font-size: 20px;
  font-weight: bold;
  color: #007bff;
}

.ton_icon {
  width: 16px;
  height: auto;
  margin-right: 4px;
  margin-left: 10px;
  fill: black;
  position: relative;
  top: 1px;
}

.send_gift_button {
  padding: 10px 20px;
  background-color: #4378ff; // Синий цвет
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  height: 50px;
  width: 326px;
  font-size: 17px;

  &:hover {
    background-color: #0056b3; // Темнее при наведении
  }
}
