.gift_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
  color: #000000;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.1px;
}

.currency_circle {
  color: #007bff;
  border-radius: 30px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 70px;
  padding-top: 2px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid #007bff;
  font-weight: 600;
  margin-bottom: 110px;

  img {
    margin-right: 5px;
  }
}

.gift_img {
  font-size: 140px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 24px;
}

.gift_title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 4px;
}

.gift_description {
  font-size: 17px;
  color: #707579;
  margin-bottom: 24px;
}

.send_gift_button {
  padding: 10px 20px;
  background-color: #4378ff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  height: 50px;
  width: 326px;
  margin-bottom: 220px;
  font-size: 17px;

  &:hover {
    background-color: #0056b3;
  }
}

.country_list {
  max-height: 300px;
  overflow-y: auto;
  scrollbar-width: none;
}

.country_list::-webkit-scrollbar {
  display: none;
}

.country_item {
  width: 270px;
  height: 50px;
  background-color: #f5f5f5;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
}
